In [2]:
import pandas as pd
import numpy as np
data = {
    'unit price' : [1000,280,900],
    'number' : [25,120,30]
}
indexName = ['store1', 'store2', 'store3']
df = pd.DataFrame(data, index = indexName)
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [10]:
df['total price'] = df['unit price']*df['number']
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [12]:
df.iloc[[df['total price'].argmax()]]

        unit price  number  total price
store2         280     120        33600